.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background: black;
  position: relative; // background-image: url('http://papers.co/wallpaper/papers.co-au88-pop-apple-macbook-background-red-illustration-art-25-wallpaper.jpg');
  background-image: url('http://papers.co/wallpaper/papers.co-au86-pop-apple-macbook-background-blue-illustration-art-29-wallpaper.jpg');
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .about {
    color: white;
    padding: 40px 124px 40px 124px;
    flex: 2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    letter-spacing: 4px;
    position: unset;
    @media screen and (max-width: 1280px) {
      height: fit-content;
      padding: 40px;
      font-size: medium;
    }
    a {
      text-decoration: none;
      color: lightseagreen;
    }
    span {
      color: lightseagreen;
    }
  }
  .chart {
    flex: 1;
    padding-top: 32px;
    @media screen and (max-width: 1280px) {
      background-position-y: center;
      background-position-x: center;
      background-size: contain;
      max-width: 100%;
    }
    h1 {
      color: lightseagreen;
      font-size: 24px;
      text-align: center;
    }
  }
}

.picture {
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center; // flex: 1;
  @media screen and (max-width: 1280px) {
    width: 100vw !important;
    height: 240px !important;
  }
}

.profilePicture {
  background-image: url("../../../shared/assets/images/DavidCzellerOld.jpg");
  @media screen and (max-width: 1280px) {
    display: none;
  }  
}

.gfPicture {
  background-image: url("../../../shared/assets/images/greenfox.png");
  // @media screen and (max-width: 600px) {
  //   width: calc(100vw - 28vw) !important;
  //   background-position-x: right;
  // }
}

.itPeople {
  background-image: url("../../../shared/assets/images/itPeople.jpg");
  height: 440px;
}

.palyaraFel {
  background-image: url("../../../shared/assets/images/palyarafel.png");
  height: 440px;
  margin: 0 12px;
  max-width: calc(100vw - 24px);
}

.mobileDisplay {
  @media screen and (max-width: 1280px) {
    flex-direction: column-reverse;
  }
}

.bottomSpacing {
  margin-bottom: 300px;
  @media screen and (max-width: 1280px) {
    align-items: unset !important;
    margin-bottom: 64px;
  }
}

.topSpacing {
  margin-top: 300px;
  @media screen and (max-width: 1280px) {
    margin-top: 64px;
  }
}

.height {
  height: 100vh;
  @media screen and (max-width: 1280px) {
    height: unset;
    margin: 64px 0;
  }
}

// .title {
//   font-size: 2rem !important;
//   // font-family: 'Cabin Sketch', cursive !important;  
//   font-family: 'Black Ops One', cursive !important;  
//   line-height: 1.5 !important;
//   cursor: default;
//   @media screen and (max-width: 1280px) {
//     font-size: 1.5rem !important;
//     line-height: unset !important;
//   }
// }

.typography {
  font-size: 2rem !important;
  font-family: 'Cabin Sketch', cursive !important;  
  line-height: 1.5 !important;
  text-align: justify;
  cursor: default;
  @media screen and (max-width: 1280px) {
    font-size: 1.5rem !important;
    line-height: unset !important;
  }
}