$mobile: 960px;
.about {
  // height: 80vh;
  width: 100vw;
  position: relative;
  @media screen and (max-width: $mobile) {
    height: 100%;
  }
  .title {
    font-size: 24rem;
    line-height: 1.3;
    color: rgba(43, 55, 96, 0.1);
    margin-left: -4vw;
    margin-bottom: -4vw;
    @media screen and (max-width: $mobile) {
      font-size: 5.6rem;
      left: -8vw;
    }
  }
  .innerContainer {
    display: flex; // align-items: center;
    .inner {
      overflow: visible;
      height: 64vh;
      width: 64vw;
      @media screen and (max-width: $mobile) {
        overflow: scroll;
        width: 94vw;
        height: unset;
        padding-top: 16vh;
        margin-bottom: 12vh;
        margin-top: -12vh;
      }
      p {
        padding-left: 5vw;
        font-weight: 500;
        color: #4e5c8e;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .05em;
        z-index: 1;
        line-height: 2.2;
        margin-top: -8vh;
        text-align: justify;
        @media screen and (max-width: $mobile) {
          font-size: .7rem;
        }
      }
      a {
        color: #ec0298;
        text-decoration: none;
        display: flex;
        justify-content: center;
      }
    }
    .images {
      // position: absolute;
      // top: 16%;
      // right: 8vw;
      // z-index: 0;
      // overflow: hidden;
      // max-width: 36vw;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-top: -16vh;
      @media screen and (max-width: $mobile) {
        display: none;
      }
      img {
        transition: transform 0.3s ease-out;
        height: 50vh;
      }
      .img-left {
        transform: translateY(-10%);
      }
      .img-right {
        transform: translateY(10%);
      }
      &:hover {
        .img-left {
          transform: translateY(0) !important;
        }
        .img-right {
          transform: translateY(0) !important;
        }
      }
    }
  }
}