$mobile: 1280px;
.App {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px; // position: relative;
  .container {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    .animatedCard {
      transform-style: preserve-3d; // min-height: 80vh;
      height: 870px;
      width: 540px;
      border-radius: 10px; // padding: 0 5rem;
      // box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
      background-size: cover;
      background-repeat: no-repeat;
      .animatedContent {
        height: 100%; // position: relative;
        transition: all 0.75s ease-in;
        h1 {
          position: absolute;
          top: 40%;
          left: -46%;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 5.5rem;
          letter-spacing: .340em;
          z-index: 1;
          white-space: nowrap;
          transition: all 0.75s ease-in;
        }
        h3 {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 2rem;
          letter-spacing: .335em;
          z-index: 1;
          left: -4%;
          position: absolute;
          top: 60%;
          white-space: nowrap;
          transition: all 0.75s ease-in;
        }
        button {
          background-color: #181c35;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: .340em;
          padding: 16px;
          outline: none;
          color: #fff;
          position: absolute;
          top: 80%;
          left: 30%;
          white-space: nowrap;
          transition: all 0.75s ease-in;
        }
      }
    }
  }
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-in;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient( to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-in;
  color: #992124;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: #636368;
  font-weight: lighter;
  transition: all 0.75s ease-in;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-in;
}

.sizes button {
  padding: .5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active {
  background: #585858;
  color: white;
}

.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-in;
}

.purchase button {
  width: 100%;
  padding: 1rem 0;
  background: #f54642;
  border: none;
  border-radius: 30px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}