$mobile: 1280px;

.mainContainer {
  margin-top: 8vh;
  .title {
    font-size: 24rem;
    line-height: 1.3;
    color: rgba(43, 55, 96, 0.1);
    margin: -4vh 0 -14vh -3vw;
    @media screen and (max-width: $mobile) {
      font-size: 5.6rem;
      left: -8vw;
    }
  }
  .contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8vh;
    position: relative;
    @media screen and (max-width: $mobile) {
      margin: 10vh 4vw;
    }
    .quote {
      position: absolute;
      bottom: 24%;
      right: 24%;
      text-align: end;
      font-size: 1rem;
      color: #fff;
    }
    img {
      position: absolute;
      height: 300px;
      width: 300px;
      bottom: 40%;
      right: 26%;
    }
    .quote, img {
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }
    form {
      @media screen and (max-width: $mobile) {
        max-width: 420px;
        width: 100%;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      padding: 32px;
      padding-top: 40px;
      border-radius: 8px;
      // width: 64vw;
      background-color: #1b243d;  
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);          
      // background: url("../../../shared/assets/images/blackImg.png") no-repeat;
      // background-size: cover;
      // background-position: right;
      @media screen and (max-width: $mobile) {
        align-items: center;
        padding: 0;
        padding-top: 40px;
        width: 100%;
      }
      .contactMe {
        height: 240px;
        width: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../../../shared/assets/images/contactMe.jpg");
        @media screen and (max-width: $mobile) {
          width: 240px;
          height: 160px;
        }
      }
      textarea {
        cursor: none;
        color: #fff;
      }
      .MuiFormControl-root-27 {
        margin-bottom: 2rem;
        max-width: 400px;
        background: #1d2640;
        border-radius: 4px;
        @media screen and (max-width: $mobile) {
          width: 320px;
        }
      }
      .MuiFormControl-root {
        margin: .6rem 0;
      }
      .MuiFormLabel-root {
        color: #fff
      }
      .MuiFormLabel-root.Mui-focused {
        color: #ec0298;
      }
      .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
        color: #fff;
        border-color: #fff !important;
      }
      .MuiInputBase-root {
        cursor: none;
        width: 300px;
      }
      label {
        color: #fff;
        font-size: larger;
      }
      input {
        border-radius: 4px;
        padding-left: 12px;
        max-width: 400px;
        background: none;
        color: #fff;
        outline: none;
        font-size: large;
        cursor: none;
        @media screen and (max-width: $mobile) {
          width: 240px;
        }
      }
      button {
        margin-top: 32px; // height: 32px;
        text-align: center; // height: 8px;
        color: white; // font-size: 16px;
        font-size: 1.5rem;
        background: none;
        border: none;
        outline: none;
        padding-bottom: 16px;
        transition: 0.7s;
        width: fit-content;
        align-self: center;
        cursor: none;
        @media screen and (max-width: $mobile) {
          height: fit-content;
          margin-top: 0;
        }
      }
      button:hover {
        color: aqua;
      }
    }
  }
  .flip-box {
    background-color: transparent;
    width: 450px;
    height: 320px;
    perspective: 1000px;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-box-front {
    background-image: url("../../../shared/assets/images/newLogo.png");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 4px solid #22b0a8;
    color: black;
  }
  .flip-box-back {
    background-image: url("../../../shared/assets/images/qr.png");
    background-size: contain;
    border-radius: 5px;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
  }
}

.circularProgress {
  color: lightseagreen !important;
}