.footer {
  background: White;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  .facebook:hover {
    fill: #3b5998;
    cursor: pointer;
  }
  .linkedin:hover {
    fill: #0077B5;
    cursor: pointer;
  }
  .instagram:hover {
    fill: #d6249f;
    cursor: pointer;
  }
  .cv {
    display: none;
    @media screen and (max-width: 992px) {
      display: inline;
    }
  }
  .MuiIconButton-root-9 {
    padding: 0;
  }
}