$animate: all 1.4s ease-in-out;
$mobile: 1280px;
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .social-icons {
    position: absolute;
    bottom: 8vh;
    left: 48px;
    display: flex;
    flex-direction: column;
    height: 24vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    @media screen and (max-width: $mobile) {
      left: 23px;
    }
    .social-icons-inner {
      display: flex;
      flex-direction: column;
      height: 16vh;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease;
      a {
        z-index: 10;
        &:hover {
          transform: scale(1.4);
          transition: all 0.5s ease;
        }
        img {
          @media screen and (max-width: $mobile) {
            height: 1.5rem;
          }
        }
      }
    }
    .arrow {
      animation: upDown infinite;
      animation-duration: 3s;
      transform: rotate(90deg);
      display: block;
      @media screen and (max-width: $mobile) {
        height: 2rem;
      }
    }
  }
  .images {
    position: absolute;
    top: 9vh;
    z-index: 0;
    overflow: hidden;
    img {
      transition: transform 0.3s ease-out;
    }
    .img-left {
      max-height: 90vh;
      transform: translateY(-10%);
    }
    .img-right {
      max-height: 90vh;
      transform: translateY(10%);
    }
    &:hover {
      .img-left {
        transform: translateY(0);
      }
      .img-right {
        transform: translateY(0);
      }
    }
  }
  .title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 5.5rem;
    letter-spacing: .340em;
    z-index: 1;
    white-space: nowrap;
    position: absolute;
    top: 50vh;
    transform: translateY(-100%);
    transition: $animate;
    @media screen and (max-width: $mobile) {
      font-size: 1.8rem;
      line-height: 3;
    }
  }
  .sub-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .340em;
    z-index: 1;
    margin-left: 8px;
    @media screen and (max-width: $mobile) {
      font-size: .8rem;
    }
  }
  .react-parallax-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 1;
  }
  .react-parallax-bgimage {
    opacity: .8;
    top: 50%;
    @media screen and (max-width: $mobile) {
      top: 100%;
      left: 63% !important;
      height: 80vh !important;
    }
  }
  .backgroundImg {
    border: 4px solid;
    position: relative;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    transition: $animate;
  }
}

.project-btn {
  background-color: transparent;
  border: 4px solid;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .340em;
  transition: $animate;
  padding: 16px;
  margin-top: 2rem;
  outline: none;
  &:hover {
    transform: scale(1.2)
  }
  @media screen and (max-width: $mobile) {
    font-size: .3rem;
  }
}

.link-grow {
  transform: scale(1.6);
  background-color: #14151a;
  color: #24df32
}

.animatedBackgroundImg {
  border: 4px solid;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: $animate;
  .react-parallax-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 1;
  }
  .react-parallax-bgimage {
    opacity: .8;
    top: 54%;
    @media screen and (max-width: $mobile) {
      // top: 72%;
      left: 70% !important;
    }
  }
}

@keyframes upDown {
  0% {
    margin-bottom: 1.6vh;
  }
  50% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 1.6vh;
  }
}