$animate: all 0.4s ease-in-out;
;
.welcome {
  z-index: 11;
  position: absolute;
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
  background-image: url("../../../shared/assets/images/background-light.png");
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 992px) {
    background-size: contain;
  }
}

.welcomeDark {
  z-index: 11;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  background-image: url("../../../shared/assets/images/background.png");
  background-position: center;
  background-size: cover;
}

.welcomeText {
  // font-size: 4rem;
  font-size: 12vh;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 24vh;
  right: 72px;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  background-image: url("../../../shared/assets/images/dave.png"); // background-size: contain;
  position: absolute;
  z-index: 10; // background-position-y: bottom;
  background-repeat: no-repeat;
  @media screen and (max-width: 992px) {
    top: 48px;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
  }
}

.circleContainer {
  height: 88vh;
  display: flex; // background-image: url("../../../shared/assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -89vh;
  @media screen and (max-width: 992px) {
    margin-top: -8vh;
  }
}

.circle {
  height: 48vh; //72vh;
  width: 52vh; //72vh;
  background: #656750; // background-image: url("../../../shared/assets/images/pic.png");
  // background-size: cover;
  border-radius: 50%;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.icon {
  transition: $animate;
  display: flex;
  font-size: 72px !important;
  position: absolute;
  color: #20b1a9;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%) !important;
  bottom: 1vh;
  cursor: pointer;
  &:hover {
    // border: 1px solid;
    border-radius: 50%;
    background: #1f3140;
    color: #fff !important; // box-shadow: 0px 3px 5px rgb(32, 177, 169);
  }
  @media screen and (max-width: 1280px) {
    bottom: 4vh;
    &:hover {
      // border: 1px solid;
      border-radius: 50%;
      box-shadow: none;
      background: 0;
      color: #fff !important;
    }
  }
}

.iconUp {
  display: flex;
  color: rgb(32, 177, 169) !important;
  font-size: 4rem !important;
  position: fixed;
  right: 16px;
  padding: 0;
  bottom: 54px; // background: rgb(21, 32, 43);
  border-radius: 0%;
  cursor: pointer;
  z-index: 1000;
  transition: $animate;
  &:hover {
    transition: $animate;
    border-radius: 50%;
    background: #1f3140;
    color: #fff !important;
  }
  @media screen and (max-width: 1280px) {
    font-size: 2.5rem !important;
    background: #fff;
    border-radius: 50%;
    bottom: 10vh;
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.75);
    &:hover {
      background: #fff;
      color: rgb(32, 177, 169) !important;
    } // display: none;
  }
}

.iconUpHidden {
  transition: $animate;
  display: none;
}

button {
  padding: 0;
}