.background {
  background-image: url('../../../shared/assets/images/resume.png');
  background-size: 72vw;
  background-position: center;
  height: 84vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // // background-image: url('../../../shared/assets/images/elon-musk-quotes.jpg');  
  // background-size: cover;
  // background-position: center;
  // background-position-y: bottom;
  // height: 60vh;
  // box-shadow: inset 0 0 42px #20b1a9;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  @media screen and (max-width: 1280px) {
    background-size: 100vw;
    height: 44vh;
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}