.mobileContainer {
  display: none;
  @media screen and (max-width: 992px) {
    display: inline; //  background-image: url(https://media.giphy.com/media/12CZbn6M6cgDkc/giphy.gif);
    // background-size: cover;
    // background: #7f7f7f;
    position: fixed;
    bottom: 0;
    width: 100%; // height: 40px;
    z-index: 4; // border: 1px solid black;
    border-bottom: none;
    .mobileLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 10px;
      padding-bottom: 10px;
      a {
        text-decoration: none;
        display: flex;
        color: inherit;
        flex-direction: column;
        align-items: center;
        // & :active {
        //   text-decoration: none;
        //   color: inherit;
        // }
      }
    }
  }
}