$mobile: 1280px;
nav {
  position: relative;
  z-index: 5;
  @media screen and (max-width: $mobile) {
    z-index: 50;
  }
  .hamburger {
    position: fixed; // top: 9px;
    top: 32px;
    right: 12px;
    z-index: 20; // height: 5rem;
    padding: 17px;
    width: 5rem; //background-color: #eee;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile) {
      padding: 12px 0;
      right: 0;
      top: 5vh;
    }
    .bar {
      width: 2.5rem;
      height: 2px;
      display: inline-block;
      position: relative;
      transition: all 1.8s;
      @media screen and (max-width: $mobile) {
        width: 2rem;
      }
      &::before {
        content: '';
        position: absolute;
        height: inherit; // background-color: #85D17B;
        background-color: inherit;
        width: inherit;
      }
      &::before {
        top: -.8rem;
        transition: all .4s;
      }
      &::after {
        top: .8rem;
        transition: all .4s;
      }
    }
    .hamburgerOpen {
      width: 2.5rem;
      height: 2px;
      background-color: #fff !important;
      display: inline-block;
      position: relative;
      top: 0;
      right: -1vw;
      transform: rotate(135deg);
      transition: all .4s;
      &::before {
        content: '';
        position: absolute;
        z-index: 20;
        height: inherit;
        background-color: #fff !important;
        width: inherit;
        top: 0;
        transform: rotate(90deg);
        transition: all .4s;
      }
    }
  }
  .nav-links {
    background-color: #050505e6;
    position: fixed;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    transition: all 1.5s ease-out;
    clip-path: circle(20px at 90% -10%);
    pointer-events: none;
    margin-top: 0;
    .inner {
      height: 54vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin-top: 20vh;
      @media screen and (max-width: $mobile) {
        margin-right: 22vw !important;
      }
      button,
      a {
        color: #fff !important;
        outline: none;
        font-size: 2rem;
        @media screen and (max-width: $mobile) {
          font-size: 1rem;
        }
        &:hover {
          transform: scale(1.4);
          transition: all 0.5s ease;
        }
      }
      button {
        background: none;
        border: none;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    align-items: center;
    justify-content: center;
    padding-bottom: 8vh;
    pointer-events: all;
    margin-top: 0;
    .inner {
      height: 54vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-right: 4vw;
    }
  }
}