$mobile: 960px;
.project {
  margin-top: -4vh;
  position: relative;
  .title {
    font-size: 24rem;
    line-height: 1.3;
    color: rgba(43, 55, 96, 0.1);
    margin: -4vh 0 -14vh -3vw;
    @media screen and (max-width: $mobile) {
      font-size: 5.6rem;
      left: -8vw;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 22vw 12vh 22vw;
    justify-content: space-around;
    @media screen and (max-width: $mobile) {
      margin: 0;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 8vh;
    }
    .card {
      margin: 1rem;
      background-color: #1b243d;
      height: 870px;
      width: 30vw;
      max-width: 540px;
      overflow: hidden;
      position: relative;
      border-radius: 8px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
      @media screen and (max-width: $mobile) {
        height: 80vh;
        width: unset;
      }
      .overlay {
        height: 76%;
        bottom: 24%;
        opacity: 0;
        transition: all 1.5s ease !important;
        z-index: 3;
        border-bottom-left-radius: 100px !important;
        &:hover {
          opacity: .7;
        }
        @media screen and (max-width: $mobile) {
          &:hover {
            opacity: 0;
          }
        }
      }
      div {
        position: absolute;
        bottom: 0;
        background: #1b243d;
        opacity: 0.95;
        z-index: 0;
        width: 100%;
      }
      .arrow {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #ec0298;
      }
      .projectImg {
        height: 76%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 2;
        border-bottom-left-radius: 100px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
      }
      div {
        h1 {
          font-size: 3rem;
          color: white;
          padding: 16px;
          @media screen and (max-width: $mobile) {
            font-size: 2rem;
          }
        }
        p {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          padding: 0 16px 16px 16px;
          text-align: justify;
          @media screen and (max-width: $mobile) {
            font-size: 1rem;
          }
        }
      }
      @media screen and (min-width: $mobile) {
        &:nth-child(odd) {
          margin-top: 2rem;
        }
      }
    }
  }
  .stack {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 2vw;
    @media screen and (max-width: $mobile) {
      position: relative;
      left: 0;
      flex-direction: row;
      justify-content: center;
    }
    img {
      padding: 16px 0;
      @media screen and (max-width: $mobile) {
        height: 40px;
      }
    }
  }
}