html,
body,
root {
  background-color: #1b243d;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.react-reveal {
  animation-fill-mode: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(yellow, lightseagreen);
  border-radius: 10px;
}
::placeholder{
  color: aliceblue;
}
