$animate: all 0.4s ease-in-out;
$mobile: 1280px;
* {
  font-style: normal;
  font-variant: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  transition: all 3s ease !important;
}

body,
a,
button {
  cursor: none;
  &:hover {
    cursor: none;
  }
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 3px solid white;
  background-color: #14151a;
  opacity: .5;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  transition: all 0.3s ease;
  transition-property: background-color, transform;
  transform-origin: 100% 100%;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.arrowUp {
  // width: 32px;
  animation: upDown infinite;
  animation-duration: 3s;
  transform: rotate(270deg);
  position: fixed;
  bottom: 3vh;
  right: .5vw;
  z-index: 100;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navIcon {
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  color: #fff;
  padding: 0 !important; // background-color: rgba(63, 71, 86, 0.36) !important;
}

.MuiIcon-root-18 {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.logo {
  height: 91px;
  width: 91px;
  left: 24px;
  top: 24px; // height: 320px;
  // width: 5vw;
  // left: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1600;
  @media screen and (max-width: $mobile) {
    margin-top: 40px;
    width: 54px;
    height: 54px;
  }
  @media screen and (max-width: 992px) {
    margin: 0;
    top: 12px;
    left: 12px;
  }
}

.mobileLayout {
  @media screen and (max-width: $mobile) {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
}

.themeIcon {
  position: fixed !important;
  right: 6vw;
  z-index: 1600;
  top: 18px;
  @media screen and (max-width: $mobile) {
    top: 84vh;
    right: 1vw;
  } // @media screen and (max-width: 992px) {
  //   top: 12px;
  // }
}

.themeIcon:hover {
  box-shadow: inset -7px -7px 17px rgba(255, 255, 255, 0.6), inset 7px 7px 17px rgba(70, 70, 70, 0.15) !important;
}

.paperLeft {
  height: 500px;
  text-align: center;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 16%;
  @media screen and (max-width: 1280px) {
    padding: 0;
    height: unset;
    margin: 32px 16px;
  }
}

.paperRight {
  height: 500px;
  text-align: center;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16%;
  @media screen and (max-width: 1280px) {
    padding: 0;
    height: unset;
    margin: 32px 16px;
  }
}

// @keyframes visibility {
//   from {visibility: hidden}
//   to {visibility: visible}
// }